.RadSliderTrack {
    position: relative;
    width: 510px;
    height: 510px;
    z-index: 5;
}

.Spoke {
    width: auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    height: auto;
    position: absolute;
}

.Spokes {
    position: absolute;
    left: 50%;
}