@font-face {
    font-family: Carlito-Bold;
    src: url(fonts/Carlito-Bold.ttf);
}

@font-face {
    font-family: WorkSans-SemiBold;
    src: url(fonts/WorkSans-SemiBold.ttf);
}

.App {
  text-align: center;
}

body {
    background-color: #E1E1E4;
}

h1, h3 {
    font-family: "Carlito-Bold", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 20px 0px 20px 0px;
}
